---
layout: singlePage
title: Blog
---

<section>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h1>{{ page.title}}</h1>
          <hr>
   
           {% for post in site.posts %}
                {% if post.type == 'blog' %}
             
                {{ post.date | date: "%d %B %Y" }}
                 <h3><a href="/rose{{ post.url }}">{{ post.title }}</a></h3>
                 {{ post.description }}
             
            <hr>
                {% endif %}
           {% endfor %}
       
      </div>
    </div>
  </div>
</section>