<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Professional Story</h2>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                            <h3>&nbsp;</h3>
                                    <h4 class="subheading">I have been in love with astrology...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have been in love with astrology - and all things metaphysical, really - since 3rd grade. After pestering my mom for an astrology book, she finally bought me Linda Goodman's Sun Signs. In reading and becoming immersed in that landmark work, I felt like I was remembering something I already knew…as though I had studied astrology in a previous life. It was an ancient art with which I was wonderfully familiar and a craft that I have been honing ever since.
</p><br/><p class="text-muted">
Since becoming a full-time astrologer in 1983, I have interpreted tens of thousands of charts for clients in all walks of life all around the world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/freesoul.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                 
                                    <h4 class="subheading">When I was 24...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">

When I was 24, I started my practice as a full-time astrologer and intuitive. I also met Pete Sanders, founder of Free Soul. Connecting with Free Soul gave me the methods and techniques to  advance my intuitive abilites.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                
                                    <h4 class="subheading">I trained as a Free Soul instructor...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I trained as a Free Soul instructor  and began teaching other people to understand their own intuition. Since 1984, I have traveled all over the nation helping people activate their psychic senses "on command" and to realize their full soul potential. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  
                                    <h4 class="subheading">It's been over twenty years...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It's been over twenty years since I started my astrology practice and began teaching Free Soul. I'm still enjoying every minute!</p>
                                </div>
                            </div>
                        </li>
                       <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
-->
                    </ul>
                </div>
            </div>
        </div>
    </section>