<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Kathy</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                            
                                    <h4 class="subheading">I began my study...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my study of astrology and all things metaphysical in 3rd grade. I pestered my mom for an astrology book.  She finally bought me Linda Goodman's <u>Sun Signs</u>. I felt like I was remembering something I already knew. I felt like I had studied astrology in a pervious life - it was all too familiar.  <p><br></p><p class="text-muted">I was also always very intuitive.  In 4th grade, I won a contest guessing the number of candy hearts in a giant jar. It was my first experience using intuition "on command".</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/freesoul.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                 
                                    <h4 class="subheading">When I was 24...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">

When I was 24, I started my practice as a full-time astrologer and intuitive. I also met Pete Sanders, founder of Free Soul. Connecting with Free Soul gave me the methods and techniques to  advance my intuitive abilites.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                
                                    <h4 class="subheading">I trained as a Free Soul instructor...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I trained as a Free Soul instructor  and began teaching other people to understand their own intuition. Since 1984, I have traveled all over the nation helping people activate their psychic senses "on command" and to realize their full soul potential. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  
                                    <h4 class="subheading">It's been over twenty years...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It's been over twenty years since I started my astrology practice and began teaching Free Soul. I'm still enjoying every minute!</p>
                                </div>
                            </div>
                        </li>
                       <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
-->
                    </ul>
                </div>
            </div>
        </div>
    </section>