<!-- Services Section -->
    <section id="articles" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Articles</h2>
                    <h3 class="section-subheading text-muted">My most recent articles...</h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-12">   
                
{% for post in site.posts %}
    {% if post.layout == 'article' %}
        {% capture counttwo %}{{ counttwo | plus: '1' }}{% endcapture %}
        {% if counttwo <= '3' %}
            
                <img class="img-circle img-responsive" style="float:left; margin:15px" src={{ post.thumbnail }} alt="">
          
                <h4  class="service-heading"><a href="/rose{{ post.url }}">{{ post.title }}</a></h4>
                <p class="text-muted">{{ post.description }}&nbsp;&nbsp; <b><a href="/rose{{ post.url }}">more...</a></b>
                </p><br clear="all">
             
           
    {% endif %}{% endif %}
{% endfor %}    <br>     
                    
                
            <h4 class="service-heading"><a href="/rose/articles/">article archive...</a></h4>
            </div></div>
        </div>
    </section>