<!-- Clients Aside -->
    <aside class="clients ">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/Aries.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/gemini.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="#">
                        <img src="img/art/TarusFacbk.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/CancerFacbk.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/Aries.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/gemini.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/TarusFacbk.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/CancerFacbk.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/Aries.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/gemini.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/TarusFacbk.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-1 col-md-1">
                    <a href="#">
                        <img src="img/art/CancerFacbk.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>