<!-- Clients Aside -->
    <aside class="clients ">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-xs-1">
                   
                        <img src="img/art/aries.jpg" class="img-responsive" alt="">
                    
                </div>
                <div class="col-sm-1 col-xs-1">
                  
                        <img src="img/art/TarusFacbk.jpg" class="img-responsive" alt="">
                  
                </div>
                <div class="col-sm-1 col-xs-1">
                  
                        <img src="img/art/gemini.jpg" class="img-responsive img-centered" alt="">
                   
                </div>
                <div class="col-sm-1 col-xs-1">
             
                        <img src="img/art/CancerFacbk.jpg" class="img-responsive img-centered" alt="">
                   
                </div>
                <div class="col-sm-1 col-xs-1">
                    
                        <img src="img/art/leo.jpg" class="img-responsive img-centered" alt="">
                  
                </div>
                <div class="col-sm-1 col-xs-1">
                 
                        <img src="img/art/virgo.jpg" class="img-responsive img-centered" alt="">
                   
                </div>
                <div class="col-sm-1 col-xs-1">
                   
                        <img src="img/art/libra.jpg" class="img-responsive img-centered" alt="">
                 
                </div>
                <div class="col-sm-1 col-xs-1">
                  
                        <img src="img/art/ScorpioFacbk.jpg" class="img-responsive img-centered" alt="">
                 
                </div>
                <div class="col-sm-1 col-xs-1">
                   
                        <img src="img/art/sag.jpg" class="img-responsive img-centered" alt="">
                   
                </div>
                <div class="col-sm-1 col-xs-1">
                   
                        <img src="img/art/capricorn.jpg" class="img-responsive img-centered" alt="">
                   
                </div>
                <div class="col-sm-1 col-xs-1">
                  
                        <img src="img/art/AquarFbook.jpg" class="img-responsive img-centered" alt="">
                 
                </div>
                <div class="col-sm-1 col-xs-1   ">
                   
                        <img src="img/art/Pisces2.jpg" class="img-responsive img-centered" alt="">
                  
                </div>
            </div>
        </div>
    </aside>