<!-- Services Section -->
    <section id="consultations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Consultations</h2>
                    <h3 class="section-subheading text-muted">Please <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">email</a> me at <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">roseastrology@yahoo.com</a> or call <b>757-340-5516</b> to schedule an appointment.</h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-12">            
                    <h4 class="service-heading">Natal Astrology Consultation</h4>
                    <p class="text-muted"> In a 45-minute astrology consultation, we will discuss the strengths and the vulnerabilities suggested by your horoscope. By determining how these patterns are linked to your reigning needs and life purpose, we can explore and create strategies for personal growth and fulfillment.</p>

<p class="text-muted"> Part of the session will be devoted to understanding your present situation and behaviors – we will discuss astrological patterns happening in your life now, and how you can best use these planet aspects for success. I will also project your planetary cycles and horoscope activity forward for the next 2-3 years. We will discuss future developments and create strategies for maximum growth.</p>

<p class="text-muted"> You’ll get a clear, helpful, and uplifting understanding of your life potential, as well as a look forward to the next few years' major events, changes, and opportunities.</p>

<p class="text-muted">This consultation is a two-way discussion.  You may ask questions at any time.</p>

                    <p class="text-muted">Our meeting can take place in person at my office or over the phone.  Please call <b>757-340-5516</b> to schedule an appointment.</p>
                    
                    <p class="text-muted"> Fee: $120 for 45 minutes</p>
                    
<p class="text-muted"> Payment can be made by Mastercard or Visa, or by check (check must be received before the appointment).</p>
 <p class="text-muted">&nbsp;</p>
                    
                    <h4 class="service-heading">Astrology for Newborns or Children</h4>
                    <p class="text-muted">An astrological analysis of a newborn or young child is a great gift for parents. </p>
                    <p class="text-muted">This type of consultation focuses on explaining the reigning needs of the child — and the basic structure of their identity and development. A comprehensive understanding of the life purpose issues of the child will be discussed, along with strategies that will help steer them toward success.

<p class="text-muted">This can be done by phone or in person with the parents — or recorded and sent to them.</p>
 <p class="text-muted">&nbsp;</p>                   
                    <h4 class="service-heading">Please provide...</h4>
                    <p class="text-muted">your birth date, time and place of birth. An <b>accurate birth time</b> is very important.  Generally, a birth time is available on your birth certificate.</p>
                </div>             
                    
                </div>
            </div>
        </div>
    </section>