<!-- Services Section -->
    <section id="consultations" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Consultations</h2>
                    <h3 class="section-subheading text-muted">Please <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">email</a> me at <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">roseastrology@yahoo.com</a> to schedule an appointment. <p>Or call <b>757-340-5516.</b> </p></h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-12">            
                    <h4 class="service-heading">Natal Astrology Consultation</h4>
                    <img class="img-responsive" style="float: right; width:300px; margin:0px 0px 30px 30px;" src="img/art/Adventure.jpg" alt=""><p class="text-muted"> Identifying the astrological significance of the positions and relationships of the planets at the moment of your birth provides a wealth of information that, professionally interpreted, can offer invaluable insight into your past, present and future. </p>
<p class="text-muted">Part of your 60-minute private consultation will be devoted to understanding your present situation, emotional patterns and relevant behaviors. We will discuss key astrological energies impacting your life now and how you can best use these planetary aspects to create a more supportive personal and professional environment for enhanced success. </p>
<p class="text-muted">I will also project your planetary cycles and horoscope activity forward for the next 2-3 years. You’ll get an easy-to-understand, helpful, and uplifting picture of your life potential, as well as a look ahead to the major events, changes and opportunities as suggested by your horoscope. </p>
<p class="text-muted">This consultation is a two-way discussion that's not only free of technical jargon but also rich with accessible insight and useful advice you can actually put into practice. Our interaction is very much a dialogue - you are invited to ask questions or seek clarifications at any time. </p>

<p class="text-muted">Please <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">email</a> me at <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">roseastrology@yahoo.com</a> or call <b><span style="white-space: nowrap;">757-340-5516</span></b> to schedule an appointment, which is generally handled over the phone. </p>
                    
                    <p class="text-muted"> <b>Fee: $150 for 60 minutes</b><br/>
                    
Payment can be made by MasterCard or Visa, or by check (check must be received before the appointment). </p>
 <p class="text-muted">&nbsp;</p>
                    
                    <h4 class="service-heading">Astrology for Newborns and Older Children</h4>
                    <img class="img-responsive" style="float:left; width:150px; margin:5px 20px 10px 0px;" src="img/art/AngelJoy2.jpg" alt=""><p class="text-muted">An astrological analysis for a newborn or young child is a great gift for parents and can provide a unique understanding of the child's entry into the world, or what to expect in the early years and beyond.  </p>
                    <p class="text-muted">This consultation focuses on identifying and explaining the reigning needs of the child as well as the basic nature and structure of their identity and development. A comprehensive understanding of the life purpose opportunities and issues will be discussed, along with strategies that will provide practical guidance and help steer the child toward success. </p>
<p class="text-muted">This can be done by phone or in person with the parents, or provided electronically as a digital recording. </p>
 
 <p class="text-muted"> <b>Fee: $150 for 60 minutes</b><br/>
                    
Payment can be made by MasterCard or Visa, or by check (check must be received before the appointment). </p>
 <p class="text-muted">&nbsp;</p>
                    <h4 class="service-heading">For Best Results </h4>
                    <p class="text-muted">An accurate birth date, time and location (by city or town preferably) are very important in order for an astrological consultation to be most helpful. Generally, a birth time is available on your birth certificate. </p>
                </div>             
                    
                </div>
            </div>
        </div>
    </section>