<!-- Navigation -->
{% if page.url == '/' or site.baseurl == "." %}
{% assign path_name = "" %}
{% else %}
{% assign path_name = site.baseurl %}
{% endif %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
         
       <a class="navbar-brand page-scroll" href="{{path_name}}/">{{site.title}}</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
        
                    
                    {% if page.url != '/' %}
                    <li id="HomeId">
                        <a class="page-scroll" href="{{path_name}}/">Home</a>
                    </li>
                    {% endif %}
                    
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{path_name}}/#consultations">Consultations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{path_name}}/#videos">Monthy Videos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{path_name}}/#articles">Published Articles</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{path_name}}/#about">My Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{path_name}}/#contact">contact</a>
                    </li>
                
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <a href="#services" id='tellMeMore' class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

