<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kathy's Art</h2>
                    <h3 class="section-subheading text-muted"><a href="http://www.kathyroseart.com/">Check out Kathy Rose Art</a></h3>
                </div>
            </div>
            <div class="row">
               
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="http://www.kathyroseart.com/"><img src="img/art/Chakra.jpg" height='200px' alt=""></a>
                        <a href="http://www.kathyroseart.com/"><h4>Chakra Mandala</h4></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="http://www.kathyroseart.com/"><img src="img/art/Communication.jpg" height='200px' alt=""></a>
                        <a href="http://www.kathyroseart.com/"><h4>Communication Mandala</h4></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="http://www.kathyroseart.com/"><img src="img/art/Heart-Chakra.jpg" height='200px' alt=""></a>
                        <a href="http://www.kathyroseart.com/"><h4>Wisdom Mandala</h4></a>
                    </div>
                </div>
                
            
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">In Sanskrit, Mandala means "circle of the soul." Mandalas have radiating geometries and symmetrical patterns, designed to pull you into center, gently inviting you to pause and reflect.</p>
                </div>
            </div>
        </div>
    </section>