<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Consultations</h4>
                    <p class="text-muted">In a 45-minute astrological consultation, we will discuss the strengths and vulnerabilities suggested by your horoscope. By determining how these patterns are linked to your reigning needs and life purpose, we can explore and create strategies for personal fulfillment...<br> Please <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">email</a> me at <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">roseastrology@yahoo.com</a> or call <b><span style="white-space: nowrap;">757340-5516</span></b> to schedule an appointment.</p>
                </div>
               
                <div class="col-md-4">
                    <h4 class="service-heading">Forecast Videos</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                
                 <div class="col-md-4">
                    <h4 class="service-heading">Newsletter</h4>
                    <p style="font-weight: bold;">Sign up for my Free Newsletter.</p>
                    <div><script type="text/javascript" src="//app.icontact.com/icp/core/mycontacts/signup/designer/form/automatic?id=37&cid=872462&lid=7947"></script></div> 
                </div>
            </div>
        </div>
    </section>