<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Consultations</h4>
                    <p class="text-muted">In a 45-minute astrological consultation, we will discuss the strengths and vulnerabilities suggested by your horoscope. By determining how these patterns are linked to your reigning needs and life purpose, we can explore and create strategies for personal fulfillment...<br> Please <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">email</a> me at <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">roseastrology@yahoo.com</a> or call <b><span style="white-space: nowrap;">757-340-5516</span></b> to schedule an appointment.</p>
                </div>
               
                <div class="col-md-4">
                    <h4 class="service-heading">Forecast Videos</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                
                 <div class="col-md-4">
                    <h4 class="service-heading">Newsletter</h4>
                    <p style="font-weight: bold;">Sign up for my Free Newsletter.</p>
                   <div>
 <!--                    <script type="text/javascript" src="//app.icontact.com/icp/core/mycontacts/signup/designer/form/automatic?id=41&cid=872462&lid=7947"></script>
-->
                       <div>
   
<!--
<script type="text/javascript" src="https://app.icontact.com/icp/static/form/javascripts/validation.js"></script>
-->
<script src="/rose/js/icv_validation.js"></script>
<script type="text/javascript" src="https://app.icontact.com/icp/static/form/javascripts/tracking.js"></script>
<link type="text/css" href="https://app.icontact.com/icp/static/human/css/signupBuilder/formGlobalStyles.css" rel="stylesheet" media="all">
<style type="text/css" id="signupBuilderAdvancedStyles">

</style>
<style type="text/css" id="signupBuilderStyles">
#ic_signupform .elcontainer {
   background: #ffffff;
   text-align: left;
   max-width: 450px;
   padding: 30px 30px;
   border-radius: 3px;
   border: 1px none #acacac;
   font-size: 12px;
   color: #5a5a5e;
   font-family: lucida grande;
}

#ic_signupform .elcontainer.center-aligned .formEl { 
	margin-right: auto;
	margin-left: auto; 
}

#ic_signupform .elcontainer.right-aligned .formEl { 
	margin-left: auto; 
}

#ic_signupform .form-header {
   
      display: none;
   
   background: #ffffff;
   margin-top: -30px;
   margin-left: -30px;
   margin-right: -30px;
   margin-bottom: 30px; /* using padding on purpose */
   padding-top: 20px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
   border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
   text-align: center;
   font-size: 150%;
   color: #333333;
   border-bottom: 1px solid #dddddd;
}

#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-input label,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-dropdown label,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-input label,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-dropdown label,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox h3 {
   width: 30%;
}
	   
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox h3 {
   line-height: 3em; 
}

#ic_signupform .elcontainer.tight.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.tight.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.tight.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.tight.inline-label-right .formEl.fieldtype-checkbox h3 {
   line-height: 2em; 
}

#ic_signupform .elcontainer.generous.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.generous.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.generous.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.generous.inline-label-right .formEl.fieldtype-checkbox h3 {
   line-height: 4em; 
}

#ic_signupform .elcontainer.inline-label-left .formEl input[type="text"],
#ic_signupform .elcontainer.inline-label-left .formEl select,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio .option-container,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox .option-container,
#ic_signupform .elcontainer.inline-label-right .formEl input[type="text"],
#ic_signupform .elcontainer.inline-label-right .formEl select,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio .option-container,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox .option-container {
   width: 70%;
}

#ic_signupform .elcontainer.hidden-label .formEl.required:before {
   color: #bdbdbf;
}
	   
#ic_signupform .elcontainer .formEl {
   font-size: 1em;
}

#ic_signupform .elcontainer .formEl.fieldtype-input label,
#ic_signupform .elcontainer .formEl.fieldtype-dropdown label,
#ic_signupform .elcontainer .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer .formEl.fieldtype-checkbox h3 {
   font-size: 100%;
   font-weight: bold;
   color: #5a5a5e;
}

#ic_signupform .elcontainer .formEl.fieldtype-input input[type="text"],
#ic_signupform .elcontainer .formEl.fieldtype-dropdown select {
   background-color: #f5f5f5;
   border: 1px solid #e7e7e7;
   border-radius: 3px;
}
	   
#ic_signupform .elcontainer .formEl.fieldtype-input input[type="text"],
#ic_signupform .elcontainer .formEl.fieldtype-dropdown select,
#ic_signupform .elcontainer .formEl.fieldtype-radio label,
#ic_signupform .elcontainer .formEl.fieldtype-checkbox label {
   font-size: 100%;
}

#ic_signupform .elcontainer .formEl input[type="text"]::-moz-placeholder {
   color: #bdbdbf;
   font-family: inherit;
}

#ic_signupform .elcontainer .formEl input[type="text"]::-webkit-input-placeholder {
   color: #bdbdbf;
   font-family: inherit;
}

#ic_signupform .elcontainer .formEl input[type="text"]:-ms-input-placeholder {
   color: #bdbdbf;
   font-family: inherit;
}

#ic_signupform .elcontainer .formEl input[type="text"],
#ic_signupform .elcontainer .formEl select,
#ic_signupform .elcontainer .formEl .option-container label {
   color: #bdbdbf;
   font-family: inherit;
}
	   
#ic_signupform .elcontainer.inline-button .submit-container {
	display: inline-block;
	box-sizing: border-box;
	right: -.5em;
	padding: 0 1em 0 0;
	position: relative;
	vertical-align: bottom;
	margin-bottom: 1em;
}
	
#ic_signupform .elcontainer.inline-button.tight .sortables {
	margin-bottom: -.5em;
}
	
#ic_signupform .elcontainer.inline-button .sortables {
	margin-bottom: -1em;
}
	
#ic_signupform .elcontainer.inline-button.generous .sortables {
	margin-bottom: -1.5em;
}

#ic_signupform .elcontainer .submit-container {
   text-align: left;
}

#ic_signupform .elcontainer .submit-container input[type="submit"] {
   background: #e7cd4d;
   border: 0px solid #e7ce4d;
   border-radius: 3px;
   line-height: 1em;
   padding: 10px 25px;
   color: #ffffff;
   font-size: 100%;
   font-family: inherit;
   width: auto;
}

#formMessage{
    padding:10px 10px 1px; margin:10px; border-radius:3px; display:none;
}
</style>
                           
<form id="ic_signupform" method="POST" action="https://app.icontact.com/icp/core/mycontacts/signup/designer/form/?id=41&amp;cid=872462&amp;lid=7947">
    <div class="elcontainer normal stacked left-aligned">
        <div class="sortables">
            <div class="formEl fieldtype-input required" data-validation-type="1" data-label="Email" style="display: inline-block; width: 100%;">
                <label>Email<span class="indicator required">*</span></label>
                <input id="emailData" type="text" placeholder="" name="data[email]">
            </div>
            <div class="formEl fieldtype-checkbox required" dataname="listGroups" data-validation-type="1" data-label="Lists" style="display: none; width: 100%;">
                <h3>Lists<span class="indicator required">*</span></h3>
                <div class="option-container">
                    <label class="checkbox"><input type="checkbox" alt="" name="data[listGroups][]" value="14154" checked="checked">Rose Astrology Newsletter</label>
                </div>
            </div>
            <div class="submit-container">
                <input type="submit" value="Submit" class="btn btn-submit">
            </div>
            <div id='formMessage' class="bg-danger" >
                <p style="color:white"><b>message</b></p>
            </div>
        </div>
        <div class="hidden-container"></div>
    </div>
</form>
<img alt="" src="https://app.icontact.com/icp/core/signup/tracking.gif?id=41&amp;cid=872462&amp;lid=7947">
</div>
                       
                     </div>
                </div>
            </div>
        </div>
    </section>