<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Consultations</h4>
                    <p class="text-muted"><b>Intuitive Insight for Conscious Growth<br/>and Personal Development.</b><br/>
For 35 years, I've had the privilege of working with many thousands of clients around the world to help them understand the guidance and the gifts revealed through their horoscopes. 
In your 60-minute astrological consultation, we will explore the influences, tendencies, strengths and vulnerabilities suggested by your chart. In examining how the planetary placements and patterns are linked to your life purpose, we will discuss and determine strategies for opening opportunities and dealing with challenges as you seek personal fulfillment.<br/>
Please <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">email</a> me at <a href="mailto:roseastrology@yahoo.com?Subject=Schedule a Consultation">roseastrology@yahoo.com</a> or call me at <b><span style="white-space: nowrap;">757-340-5516</span></b> to schedule your appointment.</p>
                </div>
               
                <div class="col-md-4">
                    <h4 class="service-heading">Monthly Videos</h4>
                    <p class="text-muted">Every month, on my <a href="https://www.youtube.com/user/roseastrology" target="_blank">YouTube Channel</a>, you can watch new videos on the astrology forecast for that month. You can also see the energetic influences of the New Moon as it passes through the twelve signs of the Zodiac. Professionally produced and always free, these short videos are packed full of useful information and practical guidance to help you anticipate and integrate the important astrological patterns the month holds in store.</p>
                    <p class="text-muted">Subscribe to my <a href="https://www.youtube.com/user/roseastrology" target="_blank">YouTube Channel</a><br /> by <a href="https://www.youtube.com/user/roseastrology" target="_blank">clicking here</a>.</p>
                   
                    
                </div>
                
                 <div class="col-md-4">
                    <h4 class="service-heading">Newsletter</h4>
                    <p style="font-weight: bold;">Sign up for my Free Newsletter.</p>
                   <div>
 <!--                    <script type="text/javascript" src="//app.icontact.com/icp/core/mycontacts/signup/designer/form/automatic?id=41&cid=872462&lid=7947"></script>
-->
                       <div>
   
<!--
<script type="text/javascript" src="https://app.icontact.com/icp/static/form/javascripts/validation.js"></script>
-->

                           
<form id="ic_signupform" method="POST" action="https://app.icontact.com/icp/core/mycontacts/signup/designer/form/?id=41&amp;cid=872462&amp;lid=7947">
    <div class="elcontainer normal stacked left-aligned">
        <div class="sortables">
            <div class="formEl fieldtype-input required" id="hdrEmail" data-validation-type="1" data-label="Email" style="display: inline-block; width: 100%;">
                <label>Email<span class="indicator required">*</span></label>
                <input type="text" placeholder="" name="data[email]" onfocus="$('#hdrFormMessage').hide()">
            </div>
            <div class="formEl fieldtype-checkbox required" dataname="listGroups" data-validation-type="1" data-label="Lists" style="display: none; width: 100%;">
                <h3>Lists<span class="indicator required">*</span></h3>
                <div class="option-container">
                    <label class="checkbox"><input type="checkbox" alt="" name="data[listGroups][]" value="14154" checked="checked">Rose Astrology Newsletter</label>
                </div>
            </div>
            <div class="submit-container">
                <input type="submit" value="Submit" id="hdrSubmit" class="btn btn-submit">
            </div>
            <div id='hdrFormMessage' class="bg-danger" >
                <p style="color:white"><b>message</b></p>
            </div>
        </div>
        <div class="hidden-container"></div>
    </div>
</form>
<img alt="" src="https://app.icontact.com/icp/core/signup/tracking.gif?id=41&amp;cid=872462&amp;lid=7947">
</div>
                       
                     </div>
                </div>
            </div>
        </div>
    </section>