<!-- Portfolio Grid Section -->
    <section id="videos"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Latest Monthly Videos</h2>
                    
                </div>
            </div>
            <div class="row">
              <div style="display:flex; flex-wrap:wrap; justify-content:center;">
                
            {% for post in site.posts %} 
                {% if post.layout == 'homePage' %}
                
                <div class="col-md-4 col-sm-6 portfolio-item" style="width:374px; margin:15px">
                    
                       
                        <iframe width='374' height='250' src='https://www.youtube.com/embed/{{ post.YouTubeTag }}' frameborder='0' allowfullscreen></iframe>
                      
                    </a>
                    <div style="text-align: center;">
                        <h5>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
                <br style="clear:left">
            <h5>&nbsp;</h5> <h4 class="service-heading">Check out my <a href="https://www.youtube.com/user/roseastrology" target="_blank">YouTube channel...</a></h4><div style="font-weight:bold; width:35%;margin:0px; padding:0px;"><h3 class="section-subheading text-muted" style="line-height:150%;margin-bottom:0;">to see other original videos, including my popular series on The Rings You Wear as well as two videos on Cleansing and Charging Your Aura.</h3></div>
            </div>           
        </div>
            
    </section>
